
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container pt-4">
    <h5>Lê Quốc Thắng - Product Manager/Bussiness Analyst/Technical Manager </h5>
    <br />
    <h5>Đặng Thành Quyên - Software Engineer/QC Leader</h5>
    <br />
    <h5>QC Team: ...</h5>
</div>


