@model LivelCMSSystem.Models.CustomerViewModel
@{
    ViewData["Title"] = "UpdateCustomer";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h4 class="pt-3 pb-3 pl-3 ">Chỉnh sửa thông tin khách hàng</h4>
<div class="row pl-3">
    <div class="col-md-4">
        <form method="post" asp-action="UpdateCustomer" asp-controller="Customer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên khách hàng</label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Địa chỉ</label>
                <input asp-for="@Model.Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="@Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Cập nhật khách hàng" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


