@model LivelCMSSystem.Models.ProductViewModel

@{
    ViewData["Title"] = "AddProduct";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<h4 class="pl-3 pt-3 pb-3 ">Thêm mới sản phẩm </h4>
<div class="row pl-3 ">
    <div class="col-md-4">
        <form asp-action="AddProduct" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên sản phẩm</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label">Hãng sản xuất</label>
                <select class="chosen-select form-control " asp-for="Brand" asp-items="@(new SelectList(ViewBag.Brand as List<LivelCMSSystem.Models.BrandViewModel>,"Id", "BrandName"))">
                    
                </select>
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">Đơn giá</label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductType" class="control-label">Loại sản phẩm </label>
                <select class="chosen-select form-control " asp-for="ProductType" asp-items="@(new SelectList(ViewBag.ProductType as List<LivelCMSSystem.Models.ProductTypeViewModel>,"Id", "ProductTypeName"))">
                </select>
                <span asp-validation-for="ProductType" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Thêm sản phẩm " class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


